extends layout 
block css 
    link(rel='stylesheet', href='/stylesheets/delete_account.css')

block content
    section(class='grid all-center parent h-100svh')
        h1 #{ title }
        if user
            if currentUser.username !== (user ? user.username : '')
                p #[strong Are you sure you want to delete ] 
                    span(style='font-weight: bold') #{ user.username }'s account?
                form(method='POST')
                    input(type='hidden' name='user_id' value=user._id)
                    button(type='submit' class='btn') Delete
            else
                p #[strong Are you sure you want to delete your account?]
                form(method='POST')
                    input(type='hidden' name='user_id' value=user._id)
                    button(type='submit' class='btn') Delete
        if error
            p #{ error.status }: #{ error.message }