extends layout
block css 
block content 
    h1 #{ title }
    if isAuthenticated
        p #[strong Welcome]: #{ currentUser.username }
        a(href='/message/new') Post Message 
    div
        if messages 
            each message in messages 
                div
                    div
                        p(style='font-size: 1em; font-weight: bold;') #{ message.title }
                        div
                            if isAuthenticated
                                p from:
                                    a(href=message.author.profile) #{ message.author.username }
                                p date: #{ message.date }
                            else 
                                p from: unknown
                                p date: unknown
                    div
                        p #{ message.message }
                        if isAdmin
                            form(method='POST')
                                input(type='hidden' name='message_id' value=message._id)

                                button(type='submit') Delete



