extends layout 
block css 
block content 
    h1 #{ title }
    
    if currentUser.username === (user ? user.username : '') 
        p #[strong Welcome:] #{ currentUser.username }
        p Rank: #{ rank() }
        p Post(s): #{ count() }
        a(href=user.delete) Delete Account
        div
            if posts
                div
                    if posts.messages
                        each message in posts.messages
                            div
                                p(style='font-size: 1em; font-weight: bold;') #{ message.title }
                                p from: #{ user.username }
                                p date: #{ message.date }
                            div
                                p #{ message.message }
                                if isAdmin 
                                    form(method='POST')
                                        input(type='hidden' name='message_id' value=message._id)
                                        button(type='submit') Delete
                div
                    if posts.secretMessages
                        each messages in posts.secretMessages
                            div
                                p(style='font-size: 1em; font-weight: bold;') #{ message.title }
                                p from: #{ user.username }
                                p date: #{ message.date }
                            div
                                p #{ message.message }
                                if isAdmin 
                                    form(method='POST')
                                        input(type='hidden' name='message_id' value=message._id)
                                        button(type='submit') Delete


            else 
                p There are no posts.
    else
        if error
            h1 #{ error.status } 
            p #{ error.message }
        if user 
            div
                if posts
                    div
                        if posts.messages
                            each message in posts.messages
                                div
                                    p(style='font-size: 1em; font-weight: bold;') #{ message.title }
                                    p from: #{ user.username }
                                    p date: #{ message.date }
                                div
                                    p #{ message.message }
                                    if isAdmin 
                                        form(method='POST')
                                            input(type='hidden' name='message_id' value=message._id)
                                            button(type='submit') Delete
                    div
                        if posts.secretMessages
                            each messages in posts.secretMessages
                                div
                                    p(style='font-size: 1em; font-weight: bold;') #{ message.title }
                                    p from: #{ user.username }
                                    p date: #{ message.date }
                                div
                                    p #{ message.message }
                                    if isAdmin 
                                        form(method='POST')
                                            input(type='hidden' name='message_id' value=message._id)
                                            button(type='submit') Delete


                else 
                    p There are no posts.