extends layout 
block css
    link(rel='stylesheet', href='/stylesheets/profile.css')
block content
    section(class='grid template-row all-center')
        if user
            div(class='grid all-center parent min fnt-1-1rem m-t-1per gap-s-rem ')
                if currentUser.username === user.username 
                    p #[strong Welcome:] #{ user.username }
                else
                    p Welcome to the
                        | 
                        span #{ user.username }'s profile
                p Rank: #{ rank() }
                if isAdmin || currentUser.username === user.username
                    p Post(s): #{ count() }
                    a(href=user.delete class='btn') Delete Account
        div(class='grid gap-s-rem all-center') 
            if posts.messages.length || posts.secretMessages.length
                div(class='fnt-1-1rem')
                    if posts.messages.length
                        h2(class='title-clr' style='text-align: center;') Minor Arcana:
                        div(class='p-2em fnt-1-5rem grid gap-s-rem')
                            each message in posts.messages
                                div(class='grid gap-2-rem parent')
                                    div
                                        p(style='font-size: 1em; font-weight: bold;') #{ message.title }
                                        div
                                            p from: #{ user.username }
                                            p date: #{ message.dateFormatted }

                                        p #{ message.message }
                                        if isAdmin 
                                            form(action='/message/delete' method='POST')
                                                input(type='hidden' name='message_id' value=message._id)
                                                button(type='submit' class='btn') Delete

                        if isAdmin || isMember
                            if posts.secretMessages.length
                                h2(class='title-clr' style='text-align: center;') Major Arcana:
                                div(class='p-2em fnt-1-5rem grid gap-s-rem')
                                    each message in posts.secretMessages
                                        div(class='grid gap-2-rem parent')
                                            p(style='font-size: 1em; font-weight: bold;') #{ message.title }
                                            div
                                                p from: #{ user.username }
                                                p date: #{ message.dateFormatted }

                                            p #{ message.message }
                                            if isAdmin 
                                                form(action='/message/delete' method='POST')
                                                    input(type='hidden' name='message_id' value=message._id)
                                                    button(type='submit' class='btn') Delete


        if error
            h1 #{ error.status } 
            p #{ error.message }
