extends layout 
block css
    link(rel='stylesheet', href='/stylesheets/profile.css')
block content
    section(class='grid template-row all-center')
        if currentUser.username === (user ? user.username : '')
            div(class='grid all-center parent min fnt-1-1rem m-t-1per') 
                p #[strong Welcome:] #{ currentUser.username }
                p Rank: #{ rank() }
                p Post(s): #{ count() }
                a(href=user.delete) Delete Account
            div(class='grid gap-s-rem') 
                if posts.messages.length || posts.secretMessages.length
                    div(class='min fnt-1-1rem')
                        if posts.messages.length
                            h2 Minor Arcana:
                            div(class='grid gap-2-rem')
                                each message in posts.messages
                                    div(class='grid gap-2-rem parent')
                                        div
                                            p(style='font-size: 1em; font-weight: bold;') #{ message.title }
                                            div
                                                p from: #{ user.username }
                                                p date: #{ message.dateFormatted }
                                        div
                                            p #{ message.message }
                                            if isAdmin 
                                                form(action='/message/delete' method='POST')
                                                    input(type='hidden' name='message_id' value=message._id)
                                                    button(type='submit') Delete
                    div
                        if posts.secretMessages.length
                            h2 Major Arcana:
                            div(class='grid gap-2-rem parent')
                                each message in posts.secretMessages
                                    div
                                        p(style='font-size: 1em; font-weight: bold;') #{ message.title }
                                        div
                                            p from: #{ user.username }
                                            p date: #{ message.dateFormatted }
                                    div
                                        p #{ message.message }
                                        if isAdmin 
                                            form(action='/message/delete' method='POST')
                                                input(type='hidden' name='message_id' value=message._id)
                                                button(type='submit') Delete


                else 
                    p There are no posts.
    
        else
            if error
                h1 #{ error.status } 
                p #{ error.message }
            if user
                div
                    p #[strong welcome to:] #{ `${user.username}'s` } profile
                    if isAdmin
                        p Rank: #{ rank() }
                        p Post(s): #{ count() }
                        a(href=user.delete) Delete Account 

                    p 
                    if posts
                        div 
                            if posts.messages.length
                                p #[strong Minor Arcana:]
                                div
                                    each message in posts.messages
                                        div
                                            p(style='font-size: 1em; font-weight: bold;') #{ message.title }
                                            div
                                                p from: #{ user.username }
                                                p date: #{ message.dateFormatted }
                                        div
                                            p #{ message.message }
                                            if isAdmin 
                                                form(action='/message/delete' method='POST')
                                                    input(type='hidden' name='message_id' value=message._id)
                                                    button(type='submit') Delete
                        div
                            if isAdmin || isMember
                                if posts.secretMessages.length
                                    p #[strong Major Arcana:]
                                    div
                                        each message in posts.secretMessages
                                            div
                                                p(style='font-size: 1em; font-weight: bold;') #{ message.title }
                                                div
                                                    p from: #{ user.username }
                                                    p date: #{ message.dateFormatted }
                                            div
                                                p #{ message.message }
                                                if isAdmin 
                                                    form(action='/message/delete' method='POST')
                                                        input(type='hidden' name='message_id' value=message._id)
                                                        button(type='submit') Delete


                    else 
                        p There are no posts.